@import '../../colors.scss';
.pro-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $secondery;

	.name {
		font-size: 2rem;
	}
	.title {
		font-size: 25px;
		color: $dark4;
	}
	.tech {
		font-size: 20px;
	}
}
