.projects {
	width: 100%;
	height: 100%;

	.project {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 500px;

		.project-detail {
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: center;
		}

		.img-container {
			width: 100%;
			height: 100%;
		}
	}
}
