$primary: #ffc0cb;
$secondery: #e6e6fa;
$Turquoise: #ff6f61;
$dark: #333333;
$dark: #98ff98;
$dark: #ff6f61;
$dark: #4a4a4a;
$dark: #faf3e0;
$dark: #fffff0;
$dark: #2c2c2c;
$dark: #d4a5a5;
$dark: #ffd700;
$dark: #87ceeb;
$dark: #ffd700;
