$primary: #ffc0cb;
$secondery: #e6e6fa;
$Turquoise: #ff6f61;
$dark1: #333333;
$dark2: #98ff98;
$dark3: #ff6f61;
$dark4: #4a4a4a;
$dark5: #faf3e0;
$dark6: #fffff0;
$dark7: #2c2c2c;
$dark8: #d4a5a5;
$dark9: #ffd700;
$dark10: #87ceeb;
$dark11: #ff6f61;
$dark11: #ff6f61;
$dark11: #ff6f61;
