@import '../../colors.scss';
.projects {
  width: 100%;
  height: 100%;
  background-color: $bg;
  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    background-color: transparent;

    .project-detail {
      display: flex;
      flex: 1;
      align-items: center;
      background-color: transparent;
      justify-content: center;
    }

    .img-container {
      width: 100%;
      height: 100%;
      flex: 1;

      background-color: transparent;
      // object-fit: cover;

      // img {
      //   width: 100%;
      //   height: 100% !important;
      //   object-fit: cover;
      // }
    }
  }
}
