@import '../../colors.scss';
.about-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 0 150px;

	.text-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		flex: 1;
		color: $secondery;
		.title {
			font-size: 2rem;
			font-weight: bold;
			height: fit-content;

			&:first-child {
				font-size: 3rem;
				font-weight: 600;
				margin-bottom: 5px;
			}
			&:nth-child(2) {
				font-size: 2rem;
				margin-bottom: 10px;
				color: $dark4;
				// font-style: italic;
			}
			&:last-child {
				font-size: 20px;
				padding-right: 100px;
			}
		}
	}
	.profile-image {
		display: flex;
		flex: 1;
		height: 200px;
		object-fit: cover;
	}
}
