.home-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
	margin: 50px;

	.text-container {
		display: flex;
		// flex-direction: column;
		align-items: start;
		// justify-content: center;
		align-content: satrt;
		width: 100%;
		height: 100%;

		.title {
			// display: flex;
			// flex-direction: column;
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 10px;
			display: flex;
		}
	}

	img {
		height: 100%;
		width: 100%;
	}
}
