$primary: #ffc0cb;
$secondery: #e6e6fa;
$Turquoise: #ff6f61;
$dark1: #333333;
$dark2: #98ff98;
$dark3: #ff6f61;
$dark4: #4a4a4a;
$dark5: #faf3e0;
$dark6: #fffff0;
$dark7: #2c2c2c;
$dark8: #d4a5a5;
$dark9: #ffd700;
$dark10: #87ceeb;
$thistle: #d8bfd8;
$dark11: #ff6f61;
$plum: #dda0dd;
$light_purple: #b19cd9;
$medium_perple: #9370db;
$lavender_gray: #a992d4;
$Blush_Pink: #ffb6c1;

$Peach: #ffcba4;
$Sky_Blue: #87ceeb;
$soft_Coral: #f08080;
$deep_pleam: #4b0082;
$bg: #e6e6fa;
$text: #f4f1fb;

$Dusty_Rose: #d8bfd8;
$Charcoal: #36454f;

// $Charcoal: #36454F):
// Dusty Rose :#D8BFD8
