@import '../../colors.scss';
.welcome-screen {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	color: #282c34;
	background: $primary;
	padding: 2rem;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-items: center;
	align-items: center;
	align-content: center;
}
