.welcome-screen,
.main-content {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.welcome-screen {
	font-size: 2rem;
	color: white;
	background: #282c34;
	padding: 2rem;
	border-radius: 10px;
}

.main-content {
	font-size: 1.5rem;
	color: #282c34;
}
